#DATABASE_DRIVER="mongodb"
#DATABASE_URL="mongodb://localhost:27017/prac"
DEBUG=*
DATABASE_DRIVER="postgres"
DATABASE_USERNAME="student"
DATABASE_PASSWORD="student"
DATABASE_DB="afisha"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=5432